/*
Copyright (C) 2019-2020 Aaron Erhardt

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program.  If not, see <https://www.gnu.org/licenses/>.
*/

.overlay
{
    z-index: 120;
    top: 10%;
    left: 10%;

    overflow: hidden;

    width: 80%;
    height: 80%;
    padding: 0;

    border-radius: 3% / 1.7%;
}

.difficulty,
.overlay
{
    position: absolute;

    display: none;

    user-select: none;
}

.overlay:target,
.difficulty:target
{
    display: block;
}

#slider-1 a
{
    font-weight: bold;

    text-decoration: underline;
}

@media (orientation: portrait)
{
    #difficulty-selector:target
    {
        display: flex;
    }
}

#info
{
    display: block;
}

.difficulty:target ~ #info,
.overlay:target ~ #info
{
    display: none;
}

.target
{
    animation-play-state: paused;
}

.difficulty:target ~ .target
{
    animation-play-state: running;
}

.difficulty
{
    position: absolute;
    top: 2.8%;
    left: 5%;

    border-radius: .2em;
    background: #000;
}

.difficulty a
{
    display: block;

    margin: 0;
    padding: .2em 1em;
}

#info-slider
{
    position: absolute;

    display: grid;
    overflow: hidden;

    width: 300%;
    height: 100%;

    transition: margin .8s ease;

    background: #398277;

    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 100%;
}

@media(orientation: landscape)
{
    .difficulty
    {
        top: 5%;
        left: 2.8%;
    }

    .overlay
    {
        border-radius: 1.7% / 3%;
    }
}

input.next,
input.back
{
    display: none;
}

label.back,
label.next,
a.next
{
    position: absolute;
    bottom: 5%;

    flex: none;

    padding: .5em 1em;

    border-radius: .2em;
    background: #403d58;

    cursor: pointer;
}

label.back
{
    left: 8.89%;
}

label.next,
a.next
{
    right: 8.89%;
}

.slider
{
    position: relative;
    left: 0;

    display: inline-flex;
    align-items: center;
    flex-flow: column nowrap;
    justify-content: space-evenly;

    justify-self: stretch;
}

.ferris
{
    width: 82.22%;
    height: auto;
    margin: 0 0 40% 0;
}

.speech-balloon
{
    font-family: 'Fira Sans';

    width: 80%;
    margin: 7% auto;

    text-align: center;

    color: #fff;
}

#difficulty-selector .ferris
{
    margin: 0 0 5% 0;
}

#difficulty-selector .speech-balloon
{
    margin: 7% auto 3% auto;
}

#selector
{
    display: grid;
    flex-basis: 12rem;

    width: 82.22%;

    grid-template-rows: 2.385em 2.385em 2.385em 2.385em;
    grid-row-gap: 5%;
    grid-template-columns: 100%;
}

#selector a
{
    padding: .5em 1em;

    text-decoration: none;

    color: #fff;
    border-radius: .2em;
    background: #c14566;
}

#difficulty-selector
{
    align-items: center;
    flex-flow: column nowrap;
    justify-content: space-evenly;

    background: #403d58;
}

@media (orientation: landscape)
{
    label.back
    {
        left: 2.8%;
    }

    label.next,
    a.next
    {
        right: 2.8%;
    }

    .slider
    {
        display: inline-block;
    }

    .ferris
    {
        position: absolute;
        top: 20%;
        left: 20%;

        width: 60%;
    }

    .speech-balloon
    {
        position: relative;
    }

    #difficulty-selector .ferris
    {
        top: 16%;
    }

    #selector
    {
        position: absolute;
        bottom: 5%;
        left: 2.8%;

        display: grid;

        width: 94.4%;

        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-column-gap: 2.8%;
        grid-template-rows: 100%;
    }

    #selector a
    {
        padding: .5em 1em;

        text-decoration: none;

        color: #fff;
        border-radius: .2em;
        background: #c14566;
    }
}

input#back-1:checked ~ #info-slider,
input#back-2:checked ~ #info-slider
{
    margin: 0;
}

input#next-1:checked ~ #info-slider,
input#back-3:checked ~ #info-slider
{
    margin: 0 0 0 -100%;
}

input#next-2:checked ~ #info-slider
{
    margin: 0 0 0 -200%;
}

.overlay:target ~ .target
{
    display: none !important;
}
